.container-banner2{
    background-color: #F8F8F8;
}

.container-banner2-icon{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    max-width: 1100px;
    margin-top: 30px;
    background-color: #F8F8F8;
    margin: auto;
}

.container-banner2-text h1{
    font-size: 22px;
}

.container-banner2-text{
    width: 120px;
    font-size: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.icon-shape{
    border-radius: 80%;
    border: 1px solid;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF9999;
    color: white;
    margin-right: -10px;
}

@media only screen and (max-width: 600px){
    .container-banner2-icon{
        display: flex;
        text-align: center;
        flex-direction: column;
        max-width: 600px;
        margin-top: 50px !important;
        background-color: #F8F8F8;
    }
    
    .container-banner2-text h1{
        font-size: 22px;
        line-height: 5px;
    }
    
    .container-banner2-text{
        width: 320px;
        font-size: 15px;
        margin: auto;
    }
    

}