    .container{
        background-color: black;
    }
    .container-banner1{
        display: flex;
        justify-content: space-between;
        background-color: black;
        max-width: 1050px;
        height: 700px;
        position: relative;
        align-items: center;
        margin: auto;
    }
    
    
    
    .container-banner1 .description-text-banner1 h1{
        color: white;
        width: 400px;
        font-size: 60px;
        line-height: 65px;
        font-weight: bolder;
    }
    .container-banner1 .description-text-banner1 p{
        color: white;
        width: 420px;
        margin-top: -30px;
        font-size: 15px;
        line-height: 25px;
    }
    
    .container-banner1 .images img{
        width: 550px;
        margin-bottom: -90px;
    }
    
  
    
    .banner1-button{
        background-color: #61CE7000;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-radius: 30px 30px 30px 30px;
        padding: 20px 28px 20px 28px;
        color: white;
        text-transform:uppercase;
        margin-top:10px;
        cursor: pointer;
    }




@media only screen and (max-width: 600px){
    .container-banner1{
        background-color: black;
        max-width: 700px;
        height: 670px;
        padding-bottom: 40px;
        align-items: center;
        margin: auto;
        display: flex !important;
        flex-direction: column-reverse !important;
        margin-top: 80px;
    }


    .container-banner1 .description-text-banner1 h1{
        color: white;
        width: 400px;
        font-size: 18px;
        line-height: 30px;
        font-weight: bolder;
    }
    .container-banner1 .images img{
        margin: auto !important;
        width: 350px;
    }

    .description-text-banner1{
        padding-left: 80px;
    }

    .container-banner1 .description-text-banner1 p{
        color: white;
        width: 340px;
        margin-top: -10px;
        font-size: 15px;
        line-height: 23px;    }
    
}