.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
  }
  .products {
    max-width: 1200px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin: auto;
  }
  
  .product {
    border-radius: 15px;
    width: 100px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product img {
    width: 300px;
  }
  
  .product .description {
    text-align: center;
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }

  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px){
  .products {
    max-width: 600px !important;
    height: auto;
    display: flex;
    margin: auto;
    overflow: auto;
  }

  .shopTitle {
    margin-top: 70px;
    text-align: center;
    font-size: 20px;
  }

  .product img {
    width: 200px;
  }
  
  .product {
    border-radius: 15px;
    width: 200px;
    height: 350px;
    margin: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  }