.navbar {
    width: 100%;
    height: 80px;
    background-color:black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
  }
  
  .links {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 25px;
  }

  @media only screen and (max-width: 600px){
    .links a {
      text-decoration: none;
      color: white;
      margin-left: 20px;
      font-size: 20px;
    }
  }