.container-miniCard{
    display: flex;
    max-width: 1200px;
    padding: 0 120px;
    margin: auto;
}

.layout-card{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 400px;
    height: 200px;
    border-radius: 15px;
    padding: 30px 35px;
    margin: auto;
    margin-top: 30px;
    color: white;
    align-items: center;
    position: relative;
}

.layout-card a{
    color: white;
}


@media only screen and (max-width: 600px){
    .container-miniCard{
        display: flex;
        max-width: 600px;
        padding: 0 10px;
        margin: auto !important;
        flex-direction: column;
        margin-top: 20px;
    }
    
    .layout-card{
        background-color: black;
        display: flex;
        justify-content: center;
        width: 300px;
        height: 100px;
        border-radius: 15px;
        padding: 40px 35px;
        margin: auto;
        margin-top: 10px;
        color: white;
        align-items: center;
    }

    .layout-card h1{
        font-size: 25px;
    }

    .layout-card a{
        font-size: 18px;
    }

   

}
