.container-banner-3{
    background-color: black;

}
.container-banner3{
    margin-top: 30px !important;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.container-banner3 .banner3-text{
color: white;
width: 500px;
}

.container-banner3 .banner3-img{
    margin: auto;
}

.container-banner3 .banner3-text h1{
    font-size: 50px;
    margin: auto;

}
.container-banner3 .banner3-text .banner3-desc{
    font-weight: bold;
    margin: auto;

}

@media only screen and (max-width: 600px){
    .container-banner3{
        background-color: black;
        margin-top: 30px;
        height: 800px !important;
        display: flex;
        padding-bottom: 100px;
        max-width: 600px;
        flex-direction: column;
        align-items: center;
    }
    
    .container-banner3 .banner3-text{
        color: white;
        width: 330px;
        }
        
        .container-banner3 .banner3-text h1{
            font-size: 30px;
        }
        .container-banner3 .banner3-text .banner3-desc{
            font-weight: bold;
        }
}